.hero {
  padding: 32px 0 46px;

  &__cards {
    display: flex;
    gap: 32px;
    margin-bottom: 32px;
  }

  &__card {
    flex: 1;
    min-width: 0;
    height: 360px;
    padding: 24px 0 0 24px;
    border: 1px solid #54a6ff;
    border-radius: 10px;

    &--light {
      background-color: #54a6ff;
      background-image: url(/images/hero__section/light__card.png);
    }

    &--dark {
      background-color: #3563e9;
      background-image: url(/images/hero__section/black__card.png);
    }
  }

  &__card-title {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: var(--primary--white);
  }

  &__card-text {
    width: 284px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.24;
    letter-spacing: -0.02em;
    color: var(--primary--white);
  }

  &__card-btn {
    width: 120px;
    height: 44px;
    padding: 10px;
    border: 1px solid transparent;
    color: var(--primary--white);
    font-weight: 600;
    font-size: 16px;

    &:disabled {
      background-color: #c3d4e9;
      color: #fff;
      cursor: not-allowed;
      pointer-events: none;
    }

    &--blue {
      background-color: #3563e9;
      border-color: #3563e9;

      &:hover {
        background-color: #173fb8;
      }

      &:active {
        background-color: #1a37b5;
        transform: translateY(1px);
      }

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 4px rgba(53, 99, 233, 0.3);
      }
    }

    &--light {
      background-color: #54a6ff;
      border-color: #54a6ff;

      &:hover {
        background-color: #327ecf;
        border-color: #327ecf;
      }

      &:active {
        background-color: #327ecf;
        transform: translateY(1px);
      }

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 4px rgba(53, 99, 233, 0.3);
      }
    }
  }
}
